<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>¿Qué es Alterlandia?</h2>
  <p>
    Alterlandia es un sitio que busca la mediatización de 
    la cultura, al mismo tiempo que se promueve el surgimiento 
    de nuevos talentos.
  </p>
  <p>
    Alterlandia es un sitio hecho por artistas para los artistas
    independientes, que busquen una buena posibilidad de llevar
    su arte a las masas, lejos del mercado corrupto.
  </p>
  <h2>¿Qué hacemos?</h2>
  <p>
    En Alterlandia hacemos muchas cosas, pero todo nació como una 
    pequeña editorial de libros. Hoy somos una editorial libre de 
    escritores independientes, ayudamos a esos talentos ocultos a 
    difundir su trabajo en el mundo. Somos una editorial que 
    selecciona cuidadosamente a cada escritor y nuestra filosofía 
    es tener las puertas abiertas para recibir nuevos talentos.
  </p>
</ion-content>
