<ion-app>
    <ion-menu side="start" menuId="m1">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>#Alterlandia_</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-menu-toggle menu="m1">
              <ion-item lines="none" routerLink="/about">
                <ion-label>Nosotros</ion-label>
              </ion-item>
              <ion-item lines="none" routerLink="/tabs/books">
                <ion-label>Libros</ion-label>
                <ion-icon name="book"></ion-icon>
              </ion-item>
              <ion-item lines="none" routerLink="/tabs/artworks">
                <ion-label>Óleos</ion-label>
                <ion-icon name="color-palette"></ion-icon>
              </ion-item>
              <ion-item lines="none" routerLink="/tabs/artists">
                <ion-label>Artistas</ion-label>
                <ion-icon name="people"></ion-icon>
              </ion-item>
              <ion-item lines="none" >
                <ion-label>Login</ion-label>
                <ion-icon name="log-in"></ion-icon>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>