<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/artists"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="artist">{{ artist.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="artist.pictureUrl"></ion-img>
      </ion-col>
      <ion-col>
        <h2>{{ artist.name }}</h2>
        <p>{{ artist.info }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="books">
    <ion-list-header>
      <ion-label>
        <h2>Obras:</h2>
      </ion-label>
    </ion-list-header>
    <ion-item 
      *ngFor="let book of books"
      [routerLink]="['/tabs', 'book', book.id]"
      >
      <ion-thumbnail slot="start">
        <ion-img [src]="book.coverImgUrl"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.title }}</h2>
        <p>{{ book.author }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
